This notebook uses the content based approach to include the time period in which the movie was launced. This method personalizes the users recommendations to include this feature.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ast import literal_eval
import pdb

In [ ]:
genre_user_vector = pd.read_csv("user_info.csv")
genre_user_vector = genre_user_vector[['userId', 'user_vector']]

genre_user_vector['user_vector'] = genre_user_vector['user_vector'].apply(lambda x: x.replace('[', ' ').replace(']', ' ').strip().split())
genre_user_vector['user_vector'] = genre_user_vector['user_vector'].apply(lambda x: np.asarray(x).astype(float))

In [ ]:
era_user_vector = pd.read_csv("user_era_vector.csv")
era_user_vector = era_user_vector[['userId', 'user_era_vector']]

era_user_vector['user_era_vector'] = era_user_vector['user_era_vector'].apply(lambda x: x.replace('[', ' ').replace(']', ' ').strip().split())
era_user_vector['user_era_vector'] = era_user_vector['user_era_vector'].apply(lambda x: np.asarray(x).astype(float))

In [ ]:
merged_user = genre_user_vector.join(era_user_vector['user_era_vector'])

In [ ]:
merged_user.head()

,userId,user_vector,user_era_vector
0,1,"[4.39189189, 4.65217391, 4.48571429, 4.2676056...","[4.63265306, 4.27272727, 4.6, 0.0]"
1,2,"[4.16666667, 0.0, 0.0, 4.2, 0.0, 4.5, 3.866666...","[0.0, 3.83333333, 4.05, 3.85]"
2,3,"[2.5, 0.5, 0.5, 0.5, 4.33333333, 0.5, 0.833333...","[2.45833333, 2.6875, 0.5, 0.0]"
3,4,"[3.47826087, 4.0, 3.77777778, 3.43902439, 3.53...","[4.4375, 3.25663717, 3.32142857, 0.0]"
4,5,"[3.16666667, 4.25, 4.0, 3.36363636, 4.0, 3.1, ...","[5.0, 3.55882353, 0.0, 0.0]"

In [ ]:
merged_user['final_user_vector'] = merged_user.apply(lambda x: np.concatenate((2*x['user_vector'], x['user_era_vector'])), axis=1)

In [ ]:
merged_user.head()

,userId,user_vector,user_era_vector,final_user_vector
0,1,"[4.39189189, 4.65217391, 4.48571429, 4.2676056...","[4.63265306, 4.27272727, 4.6, 0.0]","[8.78378378, 9.30434782, 8.97142858, 8.5352112..."
1,2,"[4.16666667, 0.0, 0.0, 4.2, 0.0, 4.5, 3.866666...","[0.0, 3.83333333, 4.05, 3.85]","[8.33333334, 0.0, 0.0, 8.4, 0.0, 9.0, 7.733333..."
2,3,"[2.5, 0.5, 0.5, 0.5, 4.33333333, 0.5, 0.833333...","[2.45833333, 2.6875, 0.5, 0.0]","[5.0, 1.0, 1.0, 1.0, 8.66666666, 1.0, 1.666666..."
3,4,"[3.47826087, 4.0, 3.77777778, 3.43902439, 3.53...","[4.4375, 3.25663717, 3.32142857, 0.0]","[6.95652174, 8.0, 7.55555556, 6.87804878, 7.06..."
4,5,"[3.16666667, 4.25, 4.0, 3.36363636, 4.0, 3.1, ...","[5.0, 3.55882353, 0.0, 0.0]","[6.33333334, 8.5, 8.0, 6.72727272, 8.0, 6.2, 7..."

In [ ]:
movie_genre_vector = pd.read_csv("movie_vector.csv")
movie_genre_vector = movie_genre_vector[['movieId', 'movie_vector']]

movie_genre_vector['movie_vector'] = movie_genre_vector['movie_vector'].apply(lambda x: x.replace('[', ' ').replace(']', ' ').strip().split())
movie_genre_vector['movie_vector'] = movie_genre_vector['movie_vector'].apply(lambda x: np.asarray(x).astype(float))

In [ ]:
movie_era_vector = pd.read_csv("movie_era_vector.csv")
movie_era_vector = movie_era_vector[['movieId', 'era_vector']]

movie_era_vector['era_vector'] = movie_era_vector['era_vector'].apply(lambda x: x.replace('[', ' ').replace(']', ' ').strip().split())
movie_era_vector['era_vector'] = movie_era_vector['era_vector'].apply(lambda x: np.asarray(x).astype(float))

In [ ]:
merged_movie = movie_genre_vector.join(movie_era_vector['era_vector'])
merged_movie['final_movie_vector'] = merged_movie.apply(lambda x: np.concatenate((2*x['movie_vector'], x['era_vector'])), axis=1)

In [ ]:
merged_movie.head()

,movieId,movie_vector,era_vector,final_movie_vector
0,1,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 1.0, 0.0, 0.0]","[2.0, 2.0, 2.0, 2.0, 2.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2,"[1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 1.0, 0.0, 0.0]","[2.0, 0.0, 2.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, ..."
2,3,"[0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","[0.0, 1.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0, 0.0, 0.0, ..."
3,4,"[0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[0.0, 1.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 2.0, 0.0, 0.0, ..."
4,5,"[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 1.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

## Test

In [ ]:
ratings_test = pd.read_csv("testing_data.csv", converters={"genres": literal_eval, "tag": literal_eval}) 
ratings_test.head()

   userId  movieId  rating  timestamp                            genres tag
0       1        3     4.0  964981247                 [Comedy, Romance]  []
1       1      163     5.0  964983650        [Action, Romance, Western]  []
2       1      316     3.0  964982310       [Action, Adventure, Sci-Fi]  []
3       1      349     4.0  964982563  [Action, Crime, Drama, Thriller]  []
4       1      441     4.0  964980868                          [Comedy]  []

In [ ]:
ratings_test = pd.read_csv("testing_data.csv", converters={"genres": literal_eval, "tag": literal_eval}) 
ratings_test.head()

algo_predictions = pd.DataFrame(columns=['userId', 'movieId', 'user_vector', 'movie_vector', 'og_rating', 'pred_rating'])
error_count = 0
for ind, row in ratings_test.iterrows():
    userId = row['userId']
    movieId = row['movieId']
    og_rating = row['rating']
    
    user_vector = merged_user[merged_user['userId'] == int(userId)].final_user_vector.values[0]
    if len(merged_movie[merged_movie['movieId'] == int(movieId)].final_movie_vector.values):
        movie_vector = merged_movie[merged_movie['movieId'] == int(movieId)].final_movie_vector.values[0]
    else:
        error_count += 1
        print("Movie vector not found!", movieId)
    predicted_rating = user_vector*movie_vector

    if predicted_rating.any():
        predicted_rating = np.nanmean(np.where(predicted_rating!=0, predicted_rating, np.nan))
    else:
        predicted_rating = 0

    row_df = pd.DataFrame([[userId, movieId, user_vector, movie_vector, og_rating, predicted_rating]], 
                columns=['userId', 'movieId', 'user_vector', 'movie_vector', 'og_rating', 'pred_rating'])
    algo_predictions = pd.concat([algo_predictions, row_df], ignore_index=True)

In [ ]:
algo_predictions

,userId,movieId,user_vector,movie_vector,og_rating,pred_rating
0,1,3,"[8.78378378, 9.30434782, 8.97142858, 8.5352112...","[0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0, 0.0, 0.0, ...",4.0,12.892161
1,1,163,"[8.78378378, 9.30434782, 8.97142858, 8.5352112...","[0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0, ...",5.0,14.134848
2,1,316,"[8.78378378, 9.30434782, 8.97142858, 8.5352112...","[2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...",3.0,13.986955
3,1,349,"[8.78378378, 9.30434782, 8.97142858, 8.5352112...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 2.0, 2.0, ...",4.0,14.707133
4,1,441,"[8.78378378, 9.30434782, 8.97142858, 8.5352112...","[0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",4.0,10.671575
...,...,...,...,...,...,...
20163,610,156726,"[7.38967136, 7.8490566, 7.34210526, 7.44984802...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",4.5,8.852847
20164,610,159093,"[7.38967136, 7.8490566, 7.34210526, 7.44984802...","[0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...",3.0,11.726114
20165,610,161582,"[7.38967136, 7.8490566, 7.34210526, 7.44984802...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, ...",4.0,11.335023
20166,610,162350,"[7.38967136, 7.8490566, 7.34210526, 7.44984802...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, ...",3.5,11.036977
20167,610,163981,"[7.38967136, 7.8490566, 7.34210526, 7.44984802...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",3.5,8.701610

In [ ]:
# algo_predictions.to_csv("genre_era_predictions.csv")

In [ ]:
rmse = ((algo_predictions.og_rating - algo_predictions.pred_rating/3) ** 2).mean() ** .5
rmse

0.9898749125266205

In [ ]:
mae = (((algo_predictions.og_rating - algo_predictions.pred_rating/3) ** 2) ** .5).mean()
mae

0.7651172008808977